#the-header{
background: url('../images/apple-pie.jpg');

}

#introduction{
    padding: auto;
}
.cooking-info{
    padding: auto;
}

#ingredients{
    padding: 0.5rem;
    text-align: center;
    margin: 0.5rem;
}

.cookigng-time{
    padding: auto;
}

#directions{
    padding: auto;
}